body {
	background-color: lightyellow;
}

h1 {
	font-size: 200%;
	color: red;
}

img {
	border-radius: 20px;
	height: 140px;
	
}

form {
	font-size: 120%;
	color: green;
}

p {
	font-size: 110%;
	color: blue;
}